* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  font-family: Nunito;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(125, 174, 230);
}

/* Header Style*/

header {
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 5;
}

#res {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
}

header h1 {
  margin-left: 3%;
  font-size: 37px;
  color: white;
  letter-spacing: 2px;
}

header ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li a {
  position: relative;
  font-size: 21px;
  text-decoration: none;
  transition-duration: 0.4s;
  color: white;
}

header ul li a::after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background: white;
  display: block;
  transition: 0.2s linear;
}

header ul li a:hover::after {
  width: 80%;
}

header ul li .active::before {
  content: '';
  width: 80%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  background: white;
  display: block;
  transition: 0.2s linear;
}

#bar {
  transform: translateX(-110%);
  font-size: 20px;
  position: absolute;
  color: white;
}

.fa-xmark {
  display: none;
  position: absolute;
  color: rgb(63, 61, 61);
  font-size: 20px;
  top: 15px;
  left: 15px;
  transform: translateY(-200%);
  color: white;
}

@media(min-width:754px) and (max-width:1200px) {
  header ul li a {
    font-size: 18px;
  }

  header ul {
    width: 65%;
    margin-left: 90px;
  }

  header h1 {
    margin-left: 2%;
    font-size: 25px;
  }

  #res {
    width: 58%;
  }
}

@media(max-width:753px) {
  #res {
    position: absolute;
    top: 20px;
    right: -300px;
    width: 180px;
    height: 30vh;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(46, 45, 45);
    transition-duration: 1s;
    border-radius: 20px;
  }

  #res:hover {
    box-shadow: 0px 0px 10px rgb(21, 31, 23);
  }

  header ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header ul li {
    margin-bottom: 20px;
  }

  #res.act {
    right: 10px;
  }

  .fa-xmark {
    display: flex;
    transform: translateY(0px);
  }

  #bar {
    position: absolute;
    right: 5%;
    transition-duration: 1s;
  }

}

/* Home Style */

#Home {
  width: 100%;
  height: 85vh;
  padding-top: 180px;
  background-image: url(../public/img/home-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  overflow: hidden;
}

#Home_1 {
  width: 80%;
}

#Home h1 {
  font-size: 80px;
}

#Home p {
  width: 40%;
  margin-bottom: 20px;
}

#imgs {
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#img {
  width: 23%;
  height: 165px;
  overflow: hidden;
}

#img img {
  width: 100%;
  height: 165px;
  transition: all 0.4s;
}

#img:hover img {
  transform: scale(1.1);
}

.cssbuttons-io-button {
  background: rgba(71, 71, 71, 0.733);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  width: 235px;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: black;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
@media(min-width:1201px) and (max-width:2000px){
  #img {
  width: 23%;
  height: 190px;
  overflow: hidden;
}

#img img {
  width: 100%;
  height: 190px;
  transition: all 0.4s;
}
}
@media(min-width:754px) and (max-width:1200px) {
  #Home {
    height: 100%;
    padding: 180px 0px 70px 0px;
  }

  #Home_1 {
    width: 95%;
  }

  #imgs {
    margin-top: 50px;
  }

  #img {
    width: 24%;
  }

}

@media(max-width:753px) {
  #Home {
    height: 100%;
    padding: 180px 0px 0px 0px;
  }

  #Home_1 {
    width: 100%;
  }

  #Home h1 {
    width: 95%;
    font-size: 70px;
    margin-left: 10px;
  }

  #Home h2 {
    margin-left: 10px;
  }

  #Home p {
    width: 90%;
    margin-left: 10px;
  }

  #imgs {
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  #img {
    width: 95%;
    height: 200px;
    margin-bottom: 15px;
  }

  #img img {
    width: 100%;
    height: 200px;
    transition: all 0.4s;
  }

  .cssbuttons-io-button {
    margin-left: 10px;
  }
}

/* About Style */

#About {
  width: 100%;
  height: 74vh;
  padding: 100px 0px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

#About__1 {
  width: 30%;
  margin-right: 5%;
}

#About__1 h1 {
  font-size: 40px;
}

#About__1 p {
  margin: 25px 0px 40px 0px;
}

#About__img {
  width: 32%;
  height: 500px;
  overflow: hidden;
  margin-top: 50px;
}

#About__img img {
  width: 100%;
  height: 500px;
  transition: all 0.5s;
}

#About__img:hover img {
  transform: scale(1.1);
}

@media(min-width:754px) and (max-width:1200px) {
  #About {
    height: 100%;
  }

  #About__1 {
    width: 40%;
  }

  #About__img {
    width: 50%;
    height: 470px;
    overflow: hidden;
    margin-top: 30px;
  }

  #About__img img {
    height: 470px;
  }
}

@media(max-width:753px) {
  #About {
    height: 100%;
    flex-direction: column;
  }

  #About__1 {
    width: 90%;
  }

  #About__img {
    width: 90%;
    height: 350px;
    overflow: hidden;
    margin-top: 30px;
  }

  #About__img img {
    height: 400px;
  }
}

/* Popular Style */

#Popular {
  width: 100%;
  height: 74vh;
  padding: 100px 0px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

#Popular h1 {
  font-size: 40px;
}

#Popular__1 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#Popular__imgs {
  width: 100%;
  margin: 50px 10px 0px 0px;
}

#Popular__imgs h1 {
  font-size: 30px;
}

#Popular__imgs h4 {
  color: rgb(83, 83, 83);
}

#Popular__img {
  width: 350px;
  height: 370px;
  overflow: hidden;
  margin-bottom: 15px;
}

#Popular__img img {
  width: 350px;
  height: 370px;
  transition: all 0.5s;
}

#Popular__img:hover img {
  transform: scale(1.1);
}


@media(min-width:754px) and (max-width:1200px) {
  #Popular {
    height: 100%;
  }

  #Popular__img {
    width: 240px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  #Popular__img img {
    width: 240px;
    height: 250px;
    transition: all 0.5s;
  }
}

@media(max-width:753px) {
  #Popular {
    height: 100%;
  }

  #Popular__1 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #Popular__img {
    width: 100%;
    height: 305px;
  }
  
  #Popular__img img {
    width: 100%;
    height: 305px;
  }

  #Popular__imgs {
    width: 100%;
    margin: 50px 0px 0px 0px;
  }
  
}

/* Explore Style */

#Explore {
  width: 100%;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}

#Explore__img {
  width: 100%;
  height: 75vh;
  background-image: linear-gradient(180deg, hsla(0, 0%, 0%, 0)0%, hsl(0, 0%, 0%)100%), url(../public/img/explore-beach.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

#Explore__1 {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-right: 15%;
}

#Explore__1 h1 {
  color: white;
  font-size: 40px;
}

#Explore__1 p {
  margin-top: 20px;
  color: rgb(185, 182, 182);
}


#user {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#user img {
  width: 37px;
  border-radius: 50%;
}

#user h5 {
  color: white;
  margin-left: 15px;
}

#Email {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#Email__img {
  width: 30%;
  height: 470px;
  overflow: hidden;
  margin-right: 8%;
}

#Email__img img {
  width: 100%;
  height: 470px;
  transition: all 0.5s;
}

#Email__img:hover img {
  transform: scale(1.1);
}

#Email__1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#Email__1 h1 {
  color: white;
  font-size: 40px;
}

#Email__1 p {
  color: rgb(185, 182, 182);
  margin: 20px 0px;
}

#Email__1 input {
  width: 270px;
  height: 46px;
  border-radius: 10px;
  padding-left: 15px;
  background-color: rgb(29, 28, 28);
  outline: none;
  border: none;
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
}

#Email__1 .cssbuttons-io-button {
  width: 290px;
  padding: 15px;
}

@media(min-width:754px) and (max-width:1200px) {
  #Explore__img {
    height: 50vh;
    padding-bottom: 20px;
  }

  #Email {
    height: 70vh;
  }

  #Email__img {
    width: 50%;
    height: 450px;
    margin-right: 5%;
  }

  #Email__img img {
    height: 450px;
  }

  #Email__1 {
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

@media(max-width:753px) {
  #Explore__img {
    height: 60vh;
    padding: 30px 0px;
    flex-direction: column;
    align-items: start;
  }

  #Explore__1 {
    width: 90%;
    margin-right: 0px;
    margin-left: 15px;
  }

  #user {
    width: 100px;
    margin-bottom: 0px;
    margin-top: 30px;
    margin-left: 15px;
  }

  #Email {
    flex-direction: column;
  }

  #Email__img {
    width: 95%;
    height: 370px;
    margin-right: 0%;
  }

  #Email__img img {
    height: 370px;
  }

  #Email__1 {
    width: 95%;
    margin-top: 20px;
  }

  #Email__1 .cssbuttons-io-button {
    margin: 0px;
  }
}

/* Footer Style */

#Footer {
  width: 100%;
  padding: 80px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 24, 24);
}

#Footer__1 {
  width: 21%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

#Footer__2,
#Footer__3,
#Footer__4,
#Footer__5 {
  width: 15%;
  display: flex;
  flex-direction: column;
}

#Footer h2 {
  color: white;
  margin-bottom: 25px;
}

#Footer p {
  color: rgb(110, 109, 109);
}

#Footer a {
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 5px;
  color: rgb(110, 109, 109);
  transition: all 0.4s;
}

#Footer a:hover {
  transform: translateY(-7px);
}


@media(min-width:754px) and (max-width:1200px) {
  #Footer__1 {
    width: 19%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
  }

  #Footer__2,
  #Footer__3,
  #Footer__4,
  #Footer__5 {
    width: 17%;
    display: flex;
    flex-direction: column;
  }
}

@media(max-width:753px) {
  #Footer {
    padding: 70px 0px;
    flex-direction: column;
    text-align: center;
  }

  #Footer__1 {
    width: 90%;
    margin-right: 0%;
    margin-bottom: 20px;
  }

  #Footer__2,
  #Footer__3,
  #Footer__4,
  #Footer__5 {
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

}